@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css";

html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(white, gray);
    min-height: 100vh;
}

body .viewww {
    display: flex;
    top: -100px;
}

.App > header {
    background-color: #12203b;
    z-index: 1;
    box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #4591c4;
}

.navbar {
    background-color: #12203b;
}

#tableMoves {
    overflow-y: scroll;
    max-height: 55vh;
}

#tableMoves thead {
    position: relative;
}